@charset "UTF-8";
html, html * {
  scroll-behavior: smooth;
}

html.mobile {
  font-size: 12px;
}

.external-link {
  font-size: 0.7em;
  position: absolute;
  right: 1px;
  line-height: calc(1.5em/0.7);
}

a-scene {
  background: #000;
}

[aframe-injected] {
  display: none;
}

input[name="lang"] {
  display: none;
}

#lang-fr:checked ~ #skybox [for="lang-fr"],
#lang-fr:checked ~ #skybox [for="lang-fr"]:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: default;
}

#lang-fr:checked ~ #skybox .lang.en {
  /* font-size: 0; */
  color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;
}

#lang-en:checked ~ #skybox [for="lang-en"],
#lang-en:checked ~ #skybox [for="lang-en"]:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: default;
}

#lang-en:checked ~ #skybox .lang-holder {
  left: -100%;
}

#lang-en:checked ~ #skybox .lang.fr {
  /* font-size: 0; */
  color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;
}

.lang-holder {
  position: relative;
  width: 200%;
  display: flex;
  transition: all 0.33s ease-out;
  left: 0;
}

.lang {
  transition: inherit;
  position: relative;
  width: 100%;
}

body {
  background: #000 no-repeat center;
  margin: auto;
  background-size: cover;
  font-family: 'Assistant', sans-serif;
  color: #fff;
  --blue: rgb(38, 206, 250);
  --green: rgb(7, 250, 149);
  --pink: rgb(255, 41, 201);
  --orange: rgb(250, 92, 7);
  --white: rgb(255, 255, 255);
  --color: var(--white);
  --black25: rgba(0, 0, 0, 0.25);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vr-container .vr-overlay-content {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.vr-container .vr-overlay-content .action {
  pointer-events: initial;
}

.inner-content {
  box-sizing: border-box;
  padding: 0 3em;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  scroll-behavior: smooth;
}

#content {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#content *, #content .events {
  pointer-events: initial;
}

#content .no-events,
#content .no-events * {
  pointer-events: none;
}

.action {
  pointer-events: initial;
}

.sticky-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  opacity: 0;
  transition: all 0.25s ease-out;
}

section:target {
  opacity: 1;
}

header {
  height: 100%;
  background-size: contain;
  margin: 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

header img {
  margin: auto;
}

header h1 {
  text-indent: -100vw;
  color: #fff;
  position: absolute;
}

.fade-in {
  display: block;
  width: 90%;
  opacity: 0;
  transition: all 2s ease-out;
}

.fade-in.show {
  width: 100%;
  opacity: 100%;
}

.sticky {
  position: sticky;
  top: -1px;
}

nav {
  width: 100%;
  padding: 1em 0;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}

nav.sticky {
  z-index: 3;
  margin-top: -4.33em;
  height: 4.33em;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 2.33em;
}

nav ul li {
  display: flex;
}

nav ul li a, nav ul li label {
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: #000;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  line-height: 1.33em;
  transition: all 0.25s ease-out, padding 0s;
  cursor: pointer;
  text-align: center;
}

nav ul li a:hover, nav ul li a:target, nav ul li label:hover, nav ul li label:target {
  background: white;
}

nav ul li a.symbols, nav ul li label.symbols {
  background: none;
  font-size: 0em;
  padding: 0;
  color: rgba(255, 255, 255, 0);
  line-height: 2rem;
}

nav ul li a.symbols:hover, nav ul li label.symbols:hover {
  color: white;
  letter-spacing: initial;
}

nav ul li label:first-child {
  border-radius: 12px 0 0 12px;
  padding-right: 0.5em;
}

nav ul li label:last-child {
  border-radius: 0 12px 12px 0;
  padding-left: 0.5em;
}

nav.is-pinned {
  background: rgba(0, 0, 0, 0.25);
}

nav.is-pinned ul li a.symbols {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
}

nav.is-pinned ul li a.symbols:hover {
  color: white;
}

.circle {
  background: #111;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--blue);
  width: 50%;
  margin: 25px auto;
}

.circle > span {
  width: 66.66%;
}

.circle .circle-img {
  height: 100%;
  display: block;
  transform: scale(1.2) translateY(7%);
}

.pink {
  --color: var(--pink);
}

.orange {
  --color: var(--orange);
}

.blue {
  --color: var(--blue);
}

.green {
  --color: var(--green);
}

.white {
  --color: var(--white);
}

.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}

.text-green {
  color: var(--green);
}

.text-pink {
  color: var(--pink);
}

.text-orange {
  color: var(--orange);
}

.bigger-text {
  font-size: 1.12em;
}

.smaller-text {
  font-size: 0.9em;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

section {
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  padding-top: 4.33em;
  overflow: auto;
}

section .hide-overflow {
  overflow: hidden;
  width: 100%;
}

section .resume .photo {
  margin: 8% 0;
}

section .resume .personal {
  margin-left: 2em;
  margin-top: 2.7em;
}

section .resume .personal .personal-category {
  background-color: rgba(38, 206, 250, 0.3);
  padding: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 2em;
  position: relative;
}

section .resume .personal .personal-category.bottom-right {
  border-radius: 5px 5px 0 5px;
}

section .resume .personal .personal-category.bottom-right:after {
  bottom: 0;
}

section .resume .personal .personal-category.top-right {
  border-radius: 5px 0 5px 5px;
}

section .resume .personal .personal-category.top-right:after {
  top: 0;
}

section .resume .personal .personal-category.bottom-right:after, section .resume .personal .personal-category.top-right:after {
  position: absolute;
  left: 100%;
  content: "";
  background: inherit;
  display: block;
  height: 5em;
  width: 5.4em;
  border-radius: 0 2.5em 2.5em 0;
}

section .resume .personal .personal-category:not(:first-child) ul li {
  margin-bottom: 0.265em;
}

section .resume .personal .personal-category:not(:first-child) ul li:last-child {
  margin-bottom: 0;
}

section .resume .personal .personal-category.details {
  padding-right: 0;
}

section .resume .personal .personal-category.details ul {
  /* font-size: 1.5em; */
}

section .resume .personal .personal-category h2 {
  margin: 0;
  line-height: 1em;
  color: var(--green);
}

section .resume .personal .personal-category a {
  color: inherit;
  text-decoration: none;
}

section .resume .personal .personal-category a:hover {
  text-decoration: underline;
}

section .resume .personal .personal-category p {
  line-height: 1.4em;
}

section .resume .personal .personal-category ul li {
  font-size: 1.25em;
  line-height: 1.4em;
}

section .resume .personal .personal-category ul li .symbols {
  font-size: 1.3em;
  width: 1.2em;
  display: inline-block;
}

section .resume .flex {
  aspect-ratio: 21 / 29.7;
  max-width: 1024px;
  margin: auto;
  position: relative;
}

section .resume .flex .part {
  display: flex;
  flex-direction: column;
}

section .resume .flex .part .mobile-only {
  display: none;
}

section .resume .flex .part.left {
  /* background: #222; */
  margin-right: 12%;
}

section .resume .flex .part.right {
  /* background: #333; */
  overflow: hidden;
  margin-left: 15%;
}

section .resume .flex .bg-overlay {
  margin: -1.25em;
  pointer-events: none;
  background: url("../img/resumes/bg-cv.png") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

section .resume h1 {
  font-size: 4em;
  margin: 0.8em 0 -0.3em;
}

section .resume .job-title {
  font-size: 1.5em;
}

section .resume .my-pitch {
  font-size: 1.25em;
  margin-top: 0.5em;
  line-height: 1.4em;
}

section .resume h2 {
  font-size: 2.1em;
  margin: 0.66em 0;
}

section .resume h2.before:before {
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--color);
}

section .resume h2 .lang {
  display: flex;
  align-items: center;
}

section .resume h2 .symbols {
  font-size: 0.6em;
  position: relative;
  top: -0.2em;
  margin-right: 0.5em;
}

section .resume .resume-category {
  margin-bottom: 0.2em;
}

section .resume .resume-category:last-child {
  margin-top: 2.2em;
}

section .resume ul li div {
  font-size: 1.5em;
}

section .resume ul li div .bigger-text {
  margin-left: 1em;
}

section .resume ul li div.chevron:before {
  font-family: "WebSymbolsLigaRegular";
  content: "× ";
}

section .resume ul li ul {
  margin-bottom: 0.63em;
}

section .resume ul li ul li {
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 0.5px 0;
}

section .resume ul li ul.chevron li {
  padding: 0;
  padding-left: 1.6em;
}

section .resume ul li ul.chevron li:before {
  content: "⚊ ";
  font-size: 0.8em;
  margin-right: 1em;
}

section .video-wrapper {
  padding: 1.25em 0;
  background: #000;
}

section .sticky {
  top: -2.15em;
  align-self: start;
  z-index: 2;
}

section .flex {
  display: flex;
  gap: 1.25em;
}

section .flex [class^="flex"] {
  position: relative;
}

section .flex video {
  display: block;
}

section .flex .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  /* padding: 1.25em; */
  right: 0;
}

section .flex .overlay .lang-holder {
  align-items: flex-end;
}

section .flex .overlay p {
  background: var(--black25);
  padding: 1em;
}

section .flex .full-width {
  width: 100%;
}

section .flex .flex1 {
  flex: 1;
}

section .flex .flex2 {
  flex: 2;
}

section .flex .flex3 {
  flex: 3;
}

section .flex .flex4 {
  flex: 4;
}

section .flex .flex5 {
  flex: 5;
}

section .flex img {
  width: 100%;
  display: block;
}

section .flex p {
  margin: 0;
  padding: 0;
}

section .bg p {
  padding: 0;
}

section .flex-group {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-bottom: 1.25em;
}

section .bg-1 {
  /* 		background: rgba(255, 255, 255, 0.9);
		background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
		padding: 1.25em;
		color: #000; */
  background: rgba(255, 255, 255, 0.9);
  background: linear-gradient(135deg, white 0%, rgba(255, 255, 255, 0.9) 100%);
  padding: 1.25em;
  color: #000;
}

section .bg-1 + .flex {
  padding-top: 0;
}

section .bg-2 {
  background: rgba(17, 17, 17, 0.9);
  background: linear-gradient(135deg, #111111 0%, rgba(17, 17, 17, 0.9) 100%);
  padding: 1.25em;
  color: #fff;
}

section p {
  color: inherit;
  font-size: 1.25em;
  padding: 1em;
}

section .title {
  color: #531fb5;
  font-weight: 900;
  text-transform: uppercase;
}
